body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Header styling */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffc2d1;
  padding: 15px;
}

.logo {
  display: flex;
  gap: 8px;
}

.logo img {
  width: 60px;
  height: 60px;
  
}

.logo h1 {
  color: #ff006e;
}

.link-items {
  display: flex;
  gap: 25px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #ff006e;
  
}

button{
    color: #ffffff;
    font-weight: bold;
    padding: 12px 20px;
    background-color: #ff006e;
    border: none;
    border-radius: 15px;
}

/* Hero section */

.hero-section{
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}

.hero-text h2{
    font-size: 42px;
}

.hero-section p{
    font-size: 18px;
    width: 450px; 
}